<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$!{basePackage}$!{daoPackage}.base">

	<resultMap id="baseDO" type="BaseDO">
		<result column="is_deleted" property="isDeleted" jdbcType="BIGINT" javaType="Long"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
	</resultMap>

	<sql id="groupBy">
		<if test="groupBy != null">
			GROUP BY
			<foreach collection="groupBy" item="field" separator=",">
				${field}
			</foreach>
		</if>
	</sql>

	<sql id="orderBy">
		<if test="orderBy != null">
			ORDER BY
			<foreach collection="orderBy" index="field" item="sort" separator=",">
                ${field} ${sort}
			</foreach>
		</if>
	</sql>

	<sql id="limit">
		<if test="pageSize != null">
			LIMIT #{offset}, #{pageSize}
		</if>
	</sql>

</mapper>