package $!{basePackage}$!{daoPackage};

import $!{basePackage}$!{doPackage}.IdDO;

import java.util.List;

/**
* Base DAO
*
* @author cuiwq
* @date 2018-08-28 星期二
*/
public interface BaseDAO<T extends IdDO<ID>, ID> {

    int insert(T dto);

    int insertSelective(T dto);

    int update(T dto);

    int updateSelective(T dto);

    int delete(ID id);

    int deleteAllById(List<ID> list);

    T getById(ID id);

    List<T> select(T query);

    int count(T query);

    int exist(ID id);

}